@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.number {
    font-size: 2rem;
    padding: 20px;
    padding-inline: 30px;
    background-color: #252422;
    border-color: #eb5e28;
    color: #fffcf2;
}

.display-container {
    height: 125px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #252422;
    background-color: #252422;
    display: flex;
    color: #fffcf2;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.result {
    align-self: flex-end;
}

.operand-container {
    display: flex;
}

.values {
    margin-inline: 5px;
    font-size: 1.75rem;
}

.clear-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#calculator {
    background-color: #403d39;
    padding: 20px;
    border-radius: 20px;
}
