@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: 'EB Garamond', serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-grid {
    display: flex;
}

#number-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.zero {
    grid-column: span 3;
}

#operation-buttons {
    display: flex;
    flex-direction: column;
}

#operation {
    margin-left: 20px;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    border: none;
    border-bottom: 1px solid #095264;
    border-right: 1px solid #095264;
    background-color: #3db6d4;
    color: #ffffff;
    font-size: 2.5rem;
    padding-inline: 30px;
}

#operation-buttons button {
    margin-left: 5px;
    padding-inline: 5px;
    margin-bottom: 1px;
}

#calculator-display {
    width: 100%;
    margin-bottom: 5px;
}

#calculator-display * {
    padding-block: 5px;
    padding-right: 5px;
    text-align: end;
    background-color: #1b8ba7;
    color: #ffffff;
    font-size: 1.75rem;
}

#prev-operand {
    color: #dad6d6;
    font-size: 1.25rem;
}